{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier une Fiche</h1>

    <div class="row white-space"></div>

    <div class="well">


        {#{{ form_start(edit_form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="row">
        <div class="col-md-5">
            {{ form_row(edit_form.name) }}
        </div>
        <div class="col-md-offset-1 col-md-5">
            {{ form_row(edit_form.nationalID) }}
        </div>
        </div>
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary"/>
        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}#}

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-primary"/>
        {{ form_end(edit_form) }}

    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('fiche_index') }}" class="btn btn-default"><span
                        class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Retour</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $('select').select2();
    </script>
{% endblock %}